name: CI/CD pipeline

on:
  push:
    branches:
      - master

jobs:
  lint-test-audit:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn

  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --frozen-lockfile
      - name: Lint source code
        run: yarn lint
      - name: Set package registry
        run: yarn config set registry https://npm.pkg.github.com
      - name: Github package registry authentication
        run: yarn set //npm.pkg.github.com/:_authToken ${{ secrets.GPR_TOKEN }}
      - name: Npm registry authentication
        run: yarn set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
      - name: Publish package to Github and Npm package registries
        run: yarn publish
